.container {
  width: 100%;
  padding: 0 100px;
}



.featured-product {
  background-color: rgb(223, 219, 10);
  width: 100%;
  padding: 50px 10px;
  border-radius: 10px;
  position: relative;
}

.product-title {
  font-size: 1rem;
}

.featured-product .product-feature {
  font-weight: bold;
  font-size: 3rem;
}

.featured-product .product-catagory {
  color: white;
  font-size: 8rem;
  font-weight: bold;
}



.featured-product .shop {
  background-color: rgb(33, 75, 153);
  border: 1px solid rgb(33, 75, 153);
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .2s ease;
}

.featured-product .shop:hover {
  background-color: white;
  color: rgb(33, 75, 153);
  border: 1px solid rgb(33, 75, 153);
}

.product {
  width: 600px;
  position: absolute;
  top: -40%;
  right: 20%;
}

.product-desc {
  width: 200px;
  position: absolute;
  right: 10%;
  bottom: 5%;
  font-size: 1rem;
  text-align: end;
}


.product-desc-title {
  font-weight: bold;
  color: blue;
  margin-bottom: 10px;
}

.product-desc-details {
  color: rgb(69, 84, 151);
}







/* Products section */

.products-view,
.catagories {
  margin-top: 55px;
  width: 100%;
  margin-top: 30px;
  padding: 0 100px;
  margin-bottom: 30px;
}

.products-view-title,
.catagories-title {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(9, 9, 53);
  text-align: center;
}

.products-view-desc,
.catagories-desc {
  color: rgb(143, 143, 143);
  margin-bottom: 30px;
  text-align: center;
}

.products-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 40px;
  margin-bottom: 80px;
}

.product-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  box-shadow: rgba(17, 17, 26, 0.05) 2px 1px 8px, rgba(17, 17, 26, 0.1) 1px 1px 8px;
  transition: all .2s ease;
  cursor: pointer;
}

.product-item:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 50px -10px;
}
.product-info {
  display: flex;
  justify-content: space-evenly;
}

.product-description {
  color: rgb(134, 132, 132);
  padding: 5px 10px;
}

.product-price {
  font-weight: bold;
  padding: 5px 10px;
}
.cart-button {
  background-color: white;
  margin: 10px;
  padding: 7px 10px;
  font-weight: bold;
  color: rgb(190, 76, 76);
  border: 1px solid rgb(190, 76, 76);
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}


.cart-button:hover {
  background-color: rgb(206, 62, 62);
  color: white;
}

.product-item img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgb(219, 219, 219);
}


/* Catagorie */
.catagories-view {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.catagorie {
  width: 300px;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  transition: all .2s ease;
  cursor: pointer;
}

.catagorie:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.catagorie img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(202, 202, 202, 0.5);
}
.men-catagorie {
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  text-align: center;
  padding: 10px;
  color: rgb(223, 37, 37);
  font-weight: bold;
  font-size: 24px;
}

/* Special offer */

.special-offer {
  width: 100%;
  padding: 50px 30px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(243, 40, 40);
  color: white;
  display: flex;
  justify-content: space-between;
}

.offer-how-much {
  font-size: 14px;
}


.offer-desc {
  font-weight: bold;
  font-size: 4rem;
}



.offer-title {
  font-size: 14px;
}

.offer-type {
  font-size: 3rem;
  font-weight: bold;
}

.shop-now {
  margin-top: 30px;
  background-color: white;
  color: rgb(243, 40, 40);
  border: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.left-section {
  width: 220px;
}
.right-section {
  width: 300px;
}

.special-product {
  width: 400px;
  position: absolute;
  top:-110px;
  left: 25%;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: rgb(11, 30, 114);
  font-weight: bold;
  margin: 20px;
}




@media (max-width: 1130px) {
  .right-section {
    width: 270px;
  }
  
  .special-product {
    width: 300px;
    top: -100px;
  }
  .best-sellers,
  .catagories {
    padding: 0 40px;
  }

  .catagories-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
}


@media (max-width: 990px) {
 
  .best-sellers,
  .catagories {
    padding: 0 30px;
  }
  .special-product {
    width: 250px;
    top: -90px;
  }
  .container {
    width: 100%;
    padding: 0 50px;
  }
  .featured-product .product-catagory {
    font-size: 4rem;
  }
  .product {
    width: 550px;
  }
  .product-desc {
    right: 5%;
  }
}

@media (max-width: 816px) {
  
  .special-product {
    width: 260px;
  }

  .product {
    width: 350px;
    right: 2%;
    top: -30%;
  }
  .product-desc {
    font-size: .8rem;
    bottom: 1%;
  }
}

@media (max-width: 780px) {

  .best-seller-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .special-product {
    width: 250px;
    top: 40%;
    left: 5%;
  }
  .offer-desc {
    font-size: 2rem;
  }
  .offer-type {
    font-size: 2rem;
  }
  .left-section {
    width: 150px;
  }
  .right-section {
    width: 200px;
  }
}
@media (max-width: 580px) {
  .best-seller-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .special-product {
    width: 150px;
    top: 55%;
  }
  .best-sellers,
  .catagories {
    padding: 0 10px;
  }
  .product {
    width: 300px;
    right: -15%;
    top: 10%;
  }
  .product-desc {
    margin-top: 20px;
    position: relative;
    text-align: start;
    right: 0;
    font-size: .8rem;
  }
}


@media (max-width: 480px) {
  .featured-product .product-catagory {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .featured-product .product-feature {
    font-size: 1.5rem;
  }
  .best-seller-product {
    width: 250px;
  }
  .product {
    width: 150px;
    right: 0;
    top: 55%;
  }
  .product-desc {
    margin-top: 20px;
    position: relative;
    text-align: start;
    right: 0;
    font-size: .8rem;
  }

  .special-product {
    width: 100px;
  }
}