.container {
  width: 100%;
  padding: 0 100px;
}

.product-view {
  display: flex;
  gap: 30px;
  color: rgb(41, 41, 88);
}
.product-img-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
}

.selected {
  width: 300px;
  height: 300px;
}


.product-img-view img{
  width: 100%;
  cursor: pointer;
}

.img-wrapper {
  display: flex;
  gap: 10px;
}

.product-description-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.quantity {
  color: rgb(25, 25, 87);
  margin-right: 10px;
  font-weight: bold;
}

.minus {
  color: rgb(236, 29, 29);
  border-left:1px solid rgb(42, 42, 128);
  cursor: pointer;
  transition: all .2s ease;
}

.minus:hover {
  background-color: rgb(236, 29, 29);
  color: white;
  border: 1px solid rgb(236, 29, 29);
}

.plus {
  color: rgb(43, 179, 43);
  cursor: pointer;
  transition: all .2s ease;
}

.plus:hover {
  background-color:rgb(43, 179, 43);
  color: white;
  border: 1px solid rgb(43, 179, 43);
}
.box {
  font-size: 18px;
  border-right:1px solid rgb(42, 42, 128);
  border-top:1px solid rgb(42, 42, 128);
  border-bottom:1px solid rgb(42, 42, 128);
  padding: 5px 10px;
}

.product-title {
  font-weight: bold;
  font-size: 24px;
}

.product-details-title {
  font-size: 18px;
  font-weight: bold;
}

.product-details-desc {
  font-size: 16px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  color: rgb(236, 29, 29);
}

.buttons {
  margin: 20px;
}
.cart-button {
  background-color: white;
  padding: 7px 30px;
  font-weight: bold;
  color: rgb(206, 62, 62);
  border: 1px solid rgb(190, 76, 76);
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}


.cart-button:hover {
  background-color: rgb(206, 62, 62);
  color: white;
}

.buy-button {
  background-color: rgb(228, 28, 28);
  padding: 8px 37px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: all .2s ease;
}

.buy-button:hover {
  opacity: .8;
}


@media (max-width: 860px) {
  .container {
    padding: 0 50px;
  }
  .product-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons button {
    width: 50%;
    margin: 10px 0;
  }
  .product-description-view {
    width: 100%;
    text-align: center;
  }
  .product-quantity {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}



@media (max-width: 500px) {
  
  .buttons button {
    width: 100%;
    margin: 10px 0;
  }
  
}